@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Raleway", sans-serif;
    background-color: rgb(245, 248, 255);
    margin: 0;
    padding: 0;

}

/* shaher */
button{
    background-color: rgb(78, 71, 255);
    border-radius: 10px;
    color: #fff;
    padding:12px 36px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.5s ease , transform 0.5s ease;
}
.sub-heading{
    font-size: 45px;
    font-weight: 700;
    color: rgb(37, 36, 50);
    margin-bottom: 23px;
}
.sub-wid{
    font-weight: 700;
}
.wid{
    font-weight: 400px;
}
.header{
 width: 100%;
 /* height: 698px; */
 background-image: url('../Assets/Hero-bg.png');
 
}

/* navigation */

.nav-section{
   
    max-width: 1140px;
    margin: 0 auto;
    
}
.header .nav-section .logo{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
.nav-section nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-section button{
    margin: 0;
}

.nav-section ul li{
    list-style: none;
}
.nav-section ul li a{
    text-align: none;
}

/* hero */

.hero-section{
   
    text-align: center;

}
.hero-section .hero-items{
   
    padding: 58px 167.5px 152px 167.5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.hero-section h2{
     font-size: 65px;
    font-weight: 700;
    color: rgb(37, 36, 50);
}

/* action */


main{
    width: 80%;
    margin: 96px auto;
}

.action-section{
    display: flex;
    /* padding: 30px; */
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}
.action-section .action-text{
    width: 50%;
}
.action-section img{
    width: 40%;
    border-radius: 40px;
}
